{
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body{
    font-family: Arial, Sans-serif;

    background-color: #f4f4f4;
}

header{
    background: #333;

    color: #fff;

    padding: 10px 0;
}

.container{
    width: 80%;

    margin: 0 auto;

    overflow: hidden;
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.logo2 img {
    width: 50px;
    height: auto;
}

.logo{
    float: left;

    width: 150px;
}

nav{
    float: right;

    margin-top: 10px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;

    margin-left: 10px;
}

nav ul li a{
    color: #fff;

    text-decoration: none;

    padding: 5px 10px;
}

nav ul li a:hover{
    background: #575757;

    border-radius: 5px;
}

.contact{
    padding: 40px 0;

    background: #fff;

    text-align: center;
}

{
    display: flex;

    flex-direction: column;

    gap: 10px;

    max-widht: 600px;

    margin: 0 auto;
}

form label{
    font-weight: bold;   
}

form input, form textarea{
    padding: 10px;

    border-radius: 5px;

    border: 1px solid #ccc;
}

form button{
    background: #007bff;

    color: #fff;

    border: none;

    padding: 10px;

    border-radius: 5px;

    cursor: pointer;
}

form button:hover{
    background: #0056b3;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

main {
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#000000;
    color:#ffffff;
    text-align:center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

footer p {
    margin: 0;
    padding: 0;
}

.flesh {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150vh;
    margin: 0;
}

.contato, .redes-sociais {
    text-align: center;
    margin: 100px;
}

.redes-sociais a {
    margin-right: 10px;
}

.redes-sociais img {
    width: 50px;
    height: 50px;
}
